/*
and (min-width: 1224px) {
} */

::-webkit-scrollbar {
  display: none;
  }
/* Globals */
:root {
  --font: monaco, Consolas, "Lucida Console", monospace; 
  --sibebarBgColor: #333;
  --mainFont: 12px;
  --sidebarColor: #DADADA;
  --white: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

body {
  background: var(--white);
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
  

/* sidebar */
.sidenav { 
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  background-color: var(--sibebarBgColor);
  padding-top: 40px;
  box-shadow: #333 1px 1px 10px;
  min-height: 100vh;
  position: fixed;
  overflow-x: hidden; 
  overflow-y: auto;
  font-size: var(--mainFont); 
  color: var(--sidebarColor);
}

.blog-titles {
  padding: 0 10px 0 20px;
}
.blog-titles a {
  color: inherit;
  line-height: 16.8px;
}
.blog-titles a:hover {
  color: var(--white);
}
.blog-titles li {
  padding: 6px 0px;
} 
.profile {
  text-align: center;
  font-weight: bold; 
  line-height: 22px;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  transition: 0.8s linear;
}
.profile-img:hover {
  transform: scale(1.1);
}

/*  Content */
.contents {
  margin-left: 20%;
  padding: 4% 2%;
  font-size: var(--mainFont);
  overflow: auto;
  }

/*  Footer */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  /* background: orange; */
  text-align: center;
  padding: 5px;
}
footer a {
  margin-right: 10px;
}
.footer-icon {
  width: 30px;
  height: 30px;
}

/*  Welcome Page Text */
.introduction {
  text-align: center;
}

.flag {
  width: 100px;
  height: 100px;
}

.bornplaceAndSocialMedia {
  color: gray;
  font-size: 10px;
}
.mypic {
  height: 180px;
  width: 180px;
  float: right;
  margin: 10px;
}
.blog1 a {
  color: blue;
  text-align: justify;
}
.blog1 a::before {
content: "+";
}

  /* -------- simplify medias later ------- */
/* Ideally style differently 0 - 320px screen */


/* mobiles in landscape mode  */
@media only screen 
and (min-width: 0)
and (max-width: 480px) {

  .sidenav { 
    padding-top: 20px;
    font-size: 6px
  }
  .blog-titles {
    list-style-type: none;
    padding: 0 2px 0 4px;
  }

  .blog-titles li {
    padding: 2px 0;
  } 

  .blog-titles a {
    font-size: 6px; 
    font-weight: 100; 
    line-height: 10px;
  }
  .profile {
    font-size: 6px;
    line-height: 8px;
    font-weight: 300;
  }
  .profile img {
    margin-bottom: 1px;
    width: 20px;
    height: 20px;
  }
  .contents {
    font-size: 6px;
  }
  .footer-icon {
    width: 10px;
    height: 10px;
  }
  .flag {
    width: 50px;
    height: 50px;
  }
  .bornplaceAndSocialMedia {
    font-size: 4px;
  }
  .mypic {
    height: 100px;
    width: 100px;
    margin: 6px;
  }
  
}

/* tablets */
  @media only screen 
  and (min-width: 481px)
  and (max-width: 1024px)  {

    .blog-titles {
      list-style-type: none;
      padding: 0 4px 0 10px;
    }

    .blog-titles li {
      padding: 4px 0px;
    } 
    .blog-titles a {
      font-weight: 200; 
      line-height: 14px;
      font-size: 10px;
    }
    .profile {
      font-size: 10px; 
      font-weight: 500; 
      line-height: 12.4px;
    }
    .profile-img {
      margin-bottom: 2px;
      width: 60px;
      height: 60px;
    }
    .contents {
      font-size: 10px;
    }
    .footer-icon {
      width: 20px;
      height: 20px;
    }
    .flag {
      width: 80px;
      height: 80px;
    }
    .bornplaceAndSocialMedia {
      color: gray;
      font-size: 8px;
    }
    .mypic {
      height: 160px;
      width: 160px;
      float: right;
      margin: 8px;
    }
  }



/* very large screen devices style goes here */
  @media only screen 
  and (min-width: 1824px) {

  }